# print statement

In [ ]:
print("hello neurons")

hello neurons

In [ ]:
print("greetings from ineuron")
print("good evening")

greetings from ineuron
good evening

In [ ]:
Print("good evening")

NameError: ignored

In [ ]:
print "good evening"

SyntaxError: ignored

In [ ]:
print("good 
evening")

SyntaxError: ignored

In [ ]:
"Good morning"
print("HI")

HI

In [ ]:
print("""good 
evening""")

good
evening

In [ ]:
print("""India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[25] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders 
with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia.""")

India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[25] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders
with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia.

In [ ]:
print("""good 
eveing
from
india""")

good
eveing
from
india

# comments

In [ ]:
# say hello to the student
#print("hi student")

In [ ]:
# say hello to the student
#print("hi student")

# Multi line comments

In [ ]:
"""
say hu
to the students
"""
print("hi students")

hi students

In [ ]:
# more exceptional cases in print statements

In [ ]:
print("hi my name is "mohit" ")

SyntaxError: ignored

In [ ]:
print('hi my name is "mohit" ')

hi my name is "mohit"

In [ ]:
print(" hi my name is 'mohit' ")

 hi my name is 'mohit'

In [ ]:
print("""hi my name is "mohit" """)

hi my name is "mohit"

In [ ]:
print("""hi my name is "mohit"! """)

hi my name is "mohit"!

In [ ]:
123 + 245  # sum of two number

368

In [ ]:
123 * 245

30135

In [ ]:
123/245

0.5020408163265306

In [ ]:
123 ** 2 # power of 123 raised to 2

15129

In [ ]:
(-123 ** 2)

-15129

In [ ]:
123 % 2 # modulo operator which gives you reminder

1

In [ ]:
122 % 2

0

In [ ]:
print(123 * 245)
print(f" result of multiplication of two number :{123 * 546} " )

30135
 result of multiplication of two number :67158

In [ ]:
print("123 * 245")
print("result")

123 * 245
result

# variables in python
## variables in python
### variables in python
#### variables in python
##### variables in python

# variables in python

In [ ]:
x = 10

In [ ]:
print(x)

10

In [ ]:
y = 20

In [ ]:
print(y)

20

In [ ]:
print(x + y)

30

In [ ]:
print(x/y)

0.5

1. variable name should start with alphabet

In [ ]:
ten = 10
ten_number = 10
tenNumber = 10

2. variable name should not contain any special character like ^ % $ ! #
    & * ()

In [ ]:
ten* = 10

SyntaxError: ignored

In [ ]:
ten%number =  10

SyntaxError: ignored

In [ ]:
ten = 10
ten_number = 10
ten%number = 10
tenNumber = 10

SyntaxError: ignored

In [ ]:
ten = 10
ten_number = 10
ten%number = 10
tenNumber = 10

SyntaxError: ignored

3. variable name can contain number. but you can't start with numbers

In [ ]:
ten10 = 10

In [ ]:
10ten = 10

SyntaxError: ignored

In [ ]:
_num = 10 # hidden variable

4. its not a strict rule that you should variable name with a capital letter.but its recommanded to use small letters for the variable

In [ ]:
Ten = 10

In [ ]:
ten number =  10

SyntaxError: ignored

In [ ]:
ten_number = 10

In [ ]:
_ = 10 # dummy variable

# fundamental data types

# integers

In [ ]:
a = 7

In [ ]:
type(a)

int

In [ ]:
b = 7777

In [ ]:
type(b)

int

# floats - numbers containing decimal numbers

In [ ]:
pi = 3.14

In [ ]:
type(pi)

float

In [ ]:
pi = 22/7
pi

3.142857142857143

In [ ]:
type(pi)

float

In [ ]:
x =2.0

In [ ]:
type(x)

float

# complex numbers

In [ ]:
a= 2+3j
a

(2+3j)

In [ ]:
type(a)

complex

In [ ]:
a.real

2.0

In [ ]:
a.imag

3.0

# dynamic typing  = change the data type over the run time

'''
int a = 22;

In [ ]:
a = 22
print(type(a))
a = 22.2
print(type(a))
a = "mohit"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
print(a)

mohit

# strong typing

In [ ]:
"Day " + 1

TypeError: ignored

In [ ]:
" Day " + "1"

' Day 1'

In [ ]:
22 + 22

44

In [ ]:
"22"+"22"

'2222'

In [ ]:
22 + "22"

TypeError: ignored

In [ ]:
"mohit " + "yadav"

'mohit yadav'

In [ ]:
22.2 + 2

24.2

In [ ]:
a = 1 # integer data type
b = 1.2 # float data type
c = "mohit" # string data type
d = 1 + 2j # complex data type # rarely used

In [ ]:
print("Hi welcome to class of python language")

Hi welcome to class of python language

In [ ]:
print("Hi welcome to class of java language")

Hi welcome to class of java language

In [ ]:
language = "python"
print("Hi welcome to class of " + language + " language") # allowed but rarely used

Hi welcome to class of python language

In [ ]:
# f -> formatting string method
language = "python"
print(f"Hi welcome to class of {language} language")   # f is used to cover fill space
                                                       # current standard approach used in python

Hi welcome to class of python language

In [ ]:
language = "python"
print("Hi welcome to class of {} language". format(language)) # old way

Hi welcome to class of python language

In [ ]:
language = "python"
print("Hi welcome to class of {language} language") # if f is not include

Hi welcome to class of {language} language

In [ ]:
# f -> formatting string method
num = "first"
language = "python"
print(f"Today is the {num} class of {language} language")  # current standard approach used in python

Today is the first class of python language

In [ ]:
num = "first"
language = "python"
print("Today is the {} class of {} language ". format(num , language)) # old way

Today is the first class of python language

In [ ]:
num = " first "
language = "python"
print("Today is the "+num+" class of " +language+ " language")

Today is the  first  class of python language

In [ ]:
a = 22
b = 34 
c = a+b
print(f"The result sum of two nums a: {a} and b: {b} is = {c}")

The result sum of two nums a: 22 and b: 34 is = 56

# boolean 

True False

In [ ]:
one = True
two = False

print(type(one))
print(type(two))

<class 'bool'>
<class 'bool'>

In [ ]:
class_starts_at = 1500 
you_came_at = 1600
you_understood_all_concept = you_came_at < class_starts_at

print(f"you understood everything ?:{you_understood_all_concept}")

you understood everything ?:False

In [ ]:
class_starts_at = 2
you_came_at = 1
you_understood_all_concept = you_came_at < class_starts_at

print(f"you understood everything ?:{you_understood_all_concept}")

you understood everything ?:True